{% extends "inicio/index.html" %}
{% load static %}

{% block title %}
About Me
{% endblock title %}

{% block color %}
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
{% endblock color %}

{% block header %}
Sobre mi:
{% endblock header %}

{% block main %}
<h3>Mi nombre es Martin Vega</h3>
<p>
    Tengo 19 años, y empecé este curso porque siempre me fascino la programación. Desde que tengo memoria, <br>
    me encantaba crear cosas por la computadora, o el simple hecho de querer hacerlo, de trabajar de eso. <br>
    <br>
    Recién este año me anime a tomar un curso, siendo este el primero que tuve para aprender a programar.<br>
    Me encanta usar python, yo pense que iba a ser mas complejo y complicado, pero es intuitivo, incluso<br>
    si hay veces que salen errores que toman años en buscarles el motivo y arreglarlos...<br>
    <br>
    Escuche de unos compañeros de la facultad hablando de coderhouse y le quise dar una chance, aparte de<br>
    que por el recorte de clases tenia mucho mas tiempo libre, decidi darle una chance y, la verdad, estoy<br>
    feliz de haberlo hecho. Siento que adquiri una nueva habilidad, incluso si no soy un experto o tampoco<br>
    es perfecto, igualmente estoy feliz. <br>
    <br>
    Tambien quiero agradecer de que la forma en la que fue enseñado el tema fue mas simple y facil de entender<br>
    de lo que me esperaba. Esperaba largas clases aburridas, pero encontre algo de diversion durante la <br>
    practica en medio de las clases. Si hubiera habido otros profesores y tutores, seguramente no hubiera<br>
    aprendido tan rapido... Gracias!<br>
    <br>
    Gracias por leer, saludos, y buenos dias.<br>
</p>
{% endblock main %}
