{% extends "index.html" %}
{% load static %}

{% block title %}
About Me
{% endblock title %}

{% block color %}
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
{% endblock color %}

{% block header %}
About this pre-entrega:
{% endblock header %}

{% block main %}
<h3>Mi nombre es Martin Vega</h3>
<p>
    Esta es la pre-entrega 3. Creé un formulario para cargar celulares a la base de datos, y otro para buscarlos. <br>
    Mil disculpas si me tarde en entregarlo, estuve ocupado y tuve que hacerlo a los 'apurones'. Pero me fije que <br>
    todo andara bien, y de pulir algunos detalles, como que aparezca 'Año' en vez de 'Anio' en los formularios. <br>
    <br>
    Tambien estuve viendo algunas etiquetas para mejorar el 'estilo' de la pagina<br>
    Gracias y que tengas un buen dia.<br>
</p>
{% endblock main %}
